/* Global Styles */
* {
    color: white;
}

body {
    background-color: #0D1821;
    margin: 0;
    padding: 0;
}

a {
    color: #167acc;
}

a:hover {
    text-decoration: none;
}

h2 {
    color: #D0ABA0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile */

h1 {
    color: #9C50F8;
    font-size: 5em;
}

.tagline {
    color: #ccc;
}

/* Projects */
 .projects {
    background-color: #B4EDD2;
    padding-bottom: 15px;
 }

 .projects p, .projects img {
    color: #424242;
 }

 .projects h3 {
    color: #9C50F8;
 }

 .projects a {
    color: #1640cc;
 }
 
 .projects .btn {
    color: azure;
    background-color: #9C50F8;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
 }

 .projects .btn:hover {
    background-color: rgba(156, 80, 248, 0.8);
 }


/* Work Experience */

.work {
    background-color: #424242;
}

/* Education */

.education {
    background-color: #D0ABA0;
}

.education h2 {
    color: #0D1821;
}

.education h3, .education p {
    color: #424242;
}

/* Contact Info */

.contact li::marker {
    color: white;
}