/* Global Styles */
html {
    box-sizing: border-box;
}

* {
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #0D1821;
    margin: 0;
    padding: 0;
    font-family:  'Josefin Sans', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #167acc;
}

a:hover {
    text-decoration: none;
}

header {
    text-align: center;
}

h1, h2 {
    margin: 0;
}

h1 {
    color: #9C50F8;
    font-size: 5em;
    font-family: 'Play', Arial, fantasy;
    text-shadow: 2px 2px 8px #88fff9, -2px -2px 8px #24fcfc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0D1821;
    width: 100%;
}

h2 {
    color: #dfb5a9;
    font-family: 'Cinzel', 'Times New Roman', serif;
    margin-bottom: 50px;
}

b {
    color:#8524fc;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile */

.tagline {
    color: #ccc;
    font-variant: small-caps;
    clear: both;
    margin-top: 15%;
    text-align: center;
}

/* Navigation Bar */

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 7.45em;
    background-color: #0D1821;
}

nav ul {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    width: 100%;
}

nav ul li {
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    background-color: #9C50F8;
    cursor: pointer;
    width: 18%;
}

nav ul li:hover {
    box-shadow: 3px 3px 5px #88fff9, -3px -3px 5px #24fcfc, 3px -3px 5px #24fcfc, -3px 3px 5px #24fcfc;
    color:#24fcfc;
}

nav ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: -999999px;
    width: 100%;
}

nav ul li ul li {
    background-color: #9c50f8;
    display: block;
    width: 100%;
}

nav ul li ul li:hover {
   box-shadow: none;
   text-shadow: 3px 3px 7px #88fff9, -3px -3px 7px #24fcfc, 3px -3px 7px #24fcfc, -3px 3px 7px #24fcfc;
    color:#24fcfc;
}

nav ul li:hover ul {
    display: block;
    left: 0px;
}

/* Projects */

 .projects {
    background-color: #B4EDD2;
    padding-bottom: 15px;
 }

 .projects h2 {
    color: #0D1821;
 }
 .projects p, .projects img {
    color: #424242;
 }

 .projects h3 {
    color: #9C50F8;
 }

 .projects a {
    color: #1640cc;
 }
 
 .projects .btn {
    color: azure;
    background-color: #9C50F8;
    text-decoration: none;
    margin-bottom: 1em;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
 }

 .projects .btn:hover {
    background-color: rgba(156, 80, 248, 0.8);
 }

 .project-item {
    overflow: hidden;
    border-bottom: 1px solid #424242;
 }

 .project-item img {
    float: left;
    margin: 20px;
 }


/* Work Experience */

.work {
    background-color: #424242;
}

/* Education */

.education {
    background-color: #dfb5a9;
}

.education h2 {
    color: #0D1821;
}

.education h3, .education p {
    color: #424242;
}

/* Contact Info */

footer {
    text-align: center;
}

.contact li::marker {
    color: white;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}